* {
  box-sizing: border-box;
  padding: 0;
   margin: 0;
}

body {
  font-family: 'Lucida Sans';
}

/* Header section */

.header {
  background-color:gray;
  width:100%;
  position:fixed;
  overflow:hidden;
  text-align:center;
}

nav ul {
  display:inline-block;
  font-size:1.3em;
}

nav ul li  {
  padding: 0px;
  display:inline-block;
  
}

nav ul li:hover {
  background-color:purple;
  
}

ul li a {
  text-decoration: none;
  color:white;
  display:block;
  padding: 15px;
}

/* Hero Section */

.hero-section {
  text-align:center;
  background-color:white;
  padding:7%;
}

h1 {
  padding: 0 0 5%;
}

.boring {
  color:red;
}
img {
  width:50%;
  height:30%;
}

/* Form section */

.form-section {
  padding: 50px;
  background-color:gray;
  color:white;
  text-align:center;
}

h2 {
  padding-bottom: 20px;
}

div label {
  display:block;
  padding: 10px;
}
.input-field {
  width:400px;
  height:50px;
  display:block;
  margin: 10px auto;
  border-radius:15px;
}

.input-field[placeholder] {
  text-align:center;
}

div #submit-button {
  display:block;
  margin: 15px auto;
  background-color:orange;
  padding: 15px;
  width: 20%;
  font-weight:bold;
  font-size:1.3em;
  color:white;
  border-radius:20px;
}

/* Footer */

footer {
  padding: 15px;
  text-align:center;
}